[Unit]
Description = Mouse Emulates Mouse service
After=multi-user.target
StartLimitIntervalSec = 20

[Service]
ExecStart = /usr/local/bin/MouseEmulatesMouse
Restart = Always
RestartSec = 20ms
Nice = -2
Type = simple
